abody{
    background: linear-gradint(to buttom right,wheat,#bcbdc4);
    height:4000px;
}
.headerx{
    position:fixed;
    width:100%;
    height:100px;
    top:0;
    left:0;
    
    color:white;
    z-index:7;
    font-family:verdana;
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.25);
}
.header{
    position:fixed;
    width:100%;
    height:100px;
    background-color:#142170;
    top:0;
    left:0;
   
    z-index:7;
    font-family:verdana;
}
#img1{
    left:100px;
    height:20px;
    width: 100px;
    top:20px;
}
#form1{
    left:700px;
    top:20px;
    height:60px;
    color:white;
    width:180px;
}
#form2{
    left:895px;
    top:20px;
    color:white;
    height:60px;
    width:200px;
}
.submit1{
    left:1100px;
    top:39px;
    background-color:  white;
    color:#142170;
    position: fixed;
    z-index: 20;
    height: 22px;
    width: 50px;
    cursor: pointer;
}
.bodyx{
     position:absolute;
    left:0;
    top:100px;
    width:100%;
    height:645px;
   
}
#intro1{
    top:40px;
    left:100px;
    font-family:verdina;
    font-size: 30px;
    color:#142170;
    height: 75px;
    width:550px;
}
#intro2{
     top:40px;
    left:700px;
    font-family:verdina;
    font-size: 50px;
    color:#142170;
    height: 60px;
    width:500px;
}
#img2{
   margin-top:35px;
    margin-left:30px;
    height:250px;
    width: 550px;
}
#intro3{
      top:100px;
    left:700px;
    font-family:verdina;
    font-size: 20px;
    color:#142170;
    height: 50px;
    width:300px;
}
#form3{
    top:150px;
    left:700px;
    font-family: verdina;
    font-size: 20px;
    color:#142170;
    height: 495px;
    width:450px;
 
    
}
#namebox{
    width:200px;
    height:50px;
    border-radius: 10px/10px;
    background-color: white;
    padding:10px;
    font-size: 20px;
}
#mailbox{
    width:400px;
    height:50px;
    border-radius: 10px/10px;
    background-color: white;
    padding:10px;
    font-size: 20px;
}
.submit2{
    width: 100px;
    height: 50px;
    left: 700px;
    top: 625px;
    background-color: green;
    position: absolute;
    color:white;
    font-size: 20px;
    border-radius: 15px/15px;
    cursor: pointer;
    outline:none;
}

#conclu1{
    width:930px;
    top:15px
    left:200px;
    color:#bcbdc4;
    height:60px;
}
.body1{
    position: absolute;
    left:0;
    top: 750px;
    width: 100%;
    height: 80px;
    background:white;
}